@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* ---------- My Solution ---------- */

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.layout-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 24px; */
  /* gap: 260px; */
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  /* flex: 1; */
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  padding: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #666666
}
